.button {
  font: inherit;
  border: 1px solid lightsalmon;
  background: salmon;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: rgb(182, 63, 49);
  border-color: rgb(182, 44, 29);
}

.button:focus {
  outline: none;
}